@media screen and (max-width:760px) {
    #articulos-destino-flex {
        flex-direction: column;
        display: inline-block;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 85%;
        /*justify-content: flex-start;*/
    }
    .articulos {
        display: flex;
        width: 100%;
        height: 4rem;
        border-radius: 5%;
        background-color: rgba(255, 255, 255, 0.5);
        text-align: left;
    }
    .imagen {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        float: left;
        margin-left: 1rem;
        margin-bottom: 0rem;
    }
    .p-destinos {
        color: #000;
        margin-top: -20px;
    }
    #logo_home {
        height: 50%;
        width: 50%;
        margin-left: 25%;
        margin-bottom: 0;
    }

    #secciones {
        /*margin-right: -5rem;*/
        background-size: contain;
        flex-wrap: wrap;
    }

    #img-descrip-pais {
        display: none;
    }

    #descrip-pais-flex {
        padding: 10% 0 0 0;
    }
    #tex-descrip-pais-flex {
        flex-direction: row;
        justify-content: center;
        padding-right: 2rem;
    }
    .contacto{
        display: flex;
        flex-direction:row;
        padding-bottom: 100%;
        font-size: 0.5rem;
    }
    .datos-contacto{
        /* width: 20%; */
        justify-content: center;
    }
    #iframe{
        padding:0;
    }
    p{
        font-size: 0.5rem;
    }
    .contacto_p{
        font-size: 10px;
    }
}

@media screen and (max-width:360px) {
    #articulos-destino-flex {
        flex-direction: column;
        display: inline-block;
        padding-left: 1rem;
        /*justify-content: flex-start;*/
    }
    .articulos {
        display: flex;
        width: 18rem;
        height: 4rem;
        border-radius: 5%;
        background-color: rgba(255, 255, 255, 0.5);
        text-align: left;
    }
    .imagen {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        float: left;
        margin-left: 1rem;
        margin-bottom: 0rem;
    }
    .p-destinos {
        color: #000;
        margin-top: -200px;
    }
    #logo_home {
        height: 100%;
        width: 100%;
        margin-left: 0;
        margin-bottom: 0;
    }
    #secciones {
        /*margin-right: -5rem;*/
        background-size: contain;
        flex-wrap: wrap;
    }
    #img-descrip-pais {
        display: none;
    }
    #descrip-pais-flex {
        padding: 10% 0 0 0;
    }
    #tex-descrip-pais-flex {
        flex-direction: row;
        justify-content: center;
        padding-right: 2rem;
    }
    .contacto{
        display: flex;
        flex-direction:row;
        padding-top: 60%;
        
    }
    .datos-contacto{   
        justify-content: center;

    }
    iframe {
        padding-top: 20%;
        width: 60%;
        overflow: visible;
        padding: 0;
        height: 10%;
        
    }
    p{
        font-size: .5rem;
    }
    .bx{
        
        font-size: .5rem;
    }
    .contacto_p{
        font-size: 10px;
    }

}